.picsHolder {
  display: flex;
}
#disc {
  float: left;
  margin-top: 20%;
}
#disc > h1 {
  color: #242424;
  font-size: 60px;
  margin-top: -100px;
  float: left;
}
#disc > p {
  float: left;
  font-size: 24px;
  color: rgb(68, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
}

.image > img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  /* position: fixed; */
  z-index: -1;
  border-radius: 40%;
  float: right;

  margin-right: -20%;

  /* border-radius: 40%; */
  margin-top: 35%;
  /* margin-right: 1000%; */
  top: 0;
  /* padding-bottom: 10%; */
}

#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
  float: left;
}
#slider input[type=radio] {
  display: none;
}
#slider label {
  cursor:pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  /* border: 3px solid rgba(147, 180, 206, 0.514)ccc; */
  /* background: rgba(170, 186, 199, 0.514); */
  position: relative;
  z-index: 1;
  /* border-radius: 25%; */
  border: none;

}
#overflow {
  width: 100%;
  overflow: hidden;
  border-radius: 25%;
  background: linear-gradient(90deg, rgb(94, 92, 88) 0%, rgb(48, 38, 25) 100%);

}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 300px;
  
}
#slides .slide {
  width: 25%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
/* #slides .slide_1 {
  background: rgba(170, 186, 199, 0.514);
}
#slides .slide_2 {
  background: rgba(170, 186, 199, 0.514);
} */


#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: .4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1) {
  /* background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat; */
  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(1)
{
  /* background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat; */
  float:left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 50px;
  height: 40px;
  border-radius:100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2)

{
  background: rgba(147, 180, 206, 0.514);
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #disc > h1 {
    float: left;
    margin-left: 15rem;
    color: rgb(235, 227, 227);
    font-size: 30px;
    /* color: rgb(68, 68, 68); */
    font-family: Arial, Helvetica, sans-serif;
  }
  #par >p{
    color: #fff;
    font-size: 20px;
  }
  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 200px;
    
  }
  .picsHolder {
    display:block;
  }
  .image > img {
    object-fit: cover;
    width: 20%;
    height: 50%;
    z-index: -1;
    border-radius: 40%;
    float: left;
    margin-left: 18rem;
    
    
    margin-top: 2%;
  }
  

  
}
.slide-content{
  /* background-color: ; */
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: large; */

}
.slides >p{
  font-size: large;
}
.slide-content > p{
  font-size: 24px;
  margin-left: 2rem;
  text-align: center;
  color: rgb(231, 229, 229);

}
.slide-content > h1{
  font-size: 40px;
  color: #003459;
}

@media screen and (min-width: 1600px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide4:checked ~ #controls label:nth-last-child(1) {
     margin: 0;
  }
  #disc > h1 {
    float: left;
    margin-left: 3rem;
    color: rgb(204, 195, 195);
    font-size: 50px;
    /* color: rgb(68, 68, 68); */
    font-family: Arial, Helvetica, sans-serif;
  }
  #par >p{
    color: #fff;
    font-size: 20px;
  }
  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 500px;
    
  }
  .picsHolder {
    display:flex;
  }
  .image > img {
    object-fit: cover;
    width: 60%;
    height: 50%;
    /* position: fixed; */
    z-index: -1;
    border-radius: 40%;
    float: left;
    
    margin-left: 15rem;
    
    /* margin-right: -20%; */
  
    /* border-radius: 40%; */
    margin-top: 35%;
    /* margin-right: 1000%; */
    top: 0;
    /* padding-bottom: 10%; */
  }
}